/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define theme */
@theme {
    --font-fancy: "Dancing Script", serif;
    --bg-secondary: #121212;
}

.font-fancy {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bg-colorful {
  @apply bg-gradient-to-r from-purple-400 via-blue-500 to-blue-700;
}
/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  @apply font-sans bg-black;
  position: relative;
  color: white;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
